.header {
  border: 2px solid grey;
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: 30px;
  &Search {
    border: none;
    font-size: 14px;
    outline: none;
    width: 200px;
    border-right: 2px solid grey;
  }
  &Title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    background-color: #00fdff;
    flex-grow: 1;
    text-decoration: none;
    color: #000;
  }
  &Calendar {
    display: flex;
    justify-content: space-between;
    border-left: 2px solid grey;
    align-items: center;
    height: 100%;
    width: 200px;
    &Now {
      font-size: 14px;
    }
    &Select {
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
      outline: none;
      cursor: pointer;
    }
  }
}