.postItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-decoration: none;
  &:last-child {
    margin-bottom: 0;
  }
  &Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &Title {
    font-size: 30px;
    font-weight: 700;
    color: black;
  }
  &Content {
    display: flex;
  }
  &Img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
  }
  &Text {
    color: grey;
    font-size: 16px;
    max-width: 100%;
    width: 500px;
  }
  &Btns {
    display: flex;
  }
  &Delete,
  &Pencil{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s;
    border: 2px solid grey;
    border-radius: 5px;
    margin-left: 10px;
    & img {
      width: 30px;
      height: 30px;
    }
    &:hover {
      background-color: #fff;
    }
  }
}